<h3><i class="fas fa-book-reader"></i>Tech IdeaBook</h3>
<div class="section">
    <p class="lead secintro">Create public and private tech ideas to help sierra leone with technology solutions</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
 <h5 style="color: green;"><a href="https://joshuaportfolio.netlify.app/" target="_blank">Design and developed by Joshua sama charley</a></h5>
</div>